#root {
  height: 100vh;
  widows: 100vw;
  background-position: center center;
  background-size: cover;
  background-image: url(https://test.azwater.gov/AnnualReport/Content/Images/BridgeBackgroundOpt.jpg);
}

#app-div {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding: 100px 0;
}

.navbar-nav {
  float: right;
  display: -webkit-inline-box;
}

.navbar-nav li {
  padding-left: 5px
}